@keyframes swoopIn {
	0% {
		opacity:0;
		transform: rotateY(-90deg) translateY(30px);
	}
	
	100% {
		opacity:1;
		transform: rotateY(0deg) translateY(0);
	}
}

.animated-character {
	display:inline-block;
	opacity:0;
	perspective:100px;
	animation-name: swoopIn;
	animation-duration:.5s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
}